@model IEnumerable<IDSurvey.Models.CompleteRate>

<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total</span>
        <div class="count">@ViewData["OverallTotal"]</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Complete</span>
        <div class="count">
            @ViewData["OverallComplete"]
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Rate</span>
        <div class="count  green">
            @String.Format(
            System.Globalization.CultureInfo.CurrentCulture,
            "{0:0.00}", ViewData["AveRate"]
            )%
        </div>
    </div>

</div>

<script src="~/lib/amcharts_3.20.17.free/amcharts/amcharts.js"></script>
@*<script src="~/lib/JavaScript.js"></script>*@
<!-- Resources -->
@*<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>*@
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<!-- Chart code -->
<script>

    var chartData = generatechartData();
    function generatechartData() {
        var chartData = [];
        @foreach (var item in Model) {
            var newDate = item.QTR;
            var rates =item.COMPLETE * 100.0 / item.TOTAL;
            <text>
                chartData.push({quarter: "@newDate",value: @rates});
            </text>

        }
        return chartData;
    }

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "marginTop":10,
        "marginRight": 80,
        "dataProvider": chartData,

        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left",
            "unit": "%",
            "guides": [{
                "dashLength": 6,
                "inside": true,
                "label": "Average",
                "lineAlpha": 1,
                "value": @ViewData["AveRate"],
                "lineColor":"#263138",
                "width": 2
            }],
        }],

        "startDuration": 1,
        "graphs": [{
            "balloonColor":"#d1655d",
            "id":"g1",
            "balloonText": "Q[[category]]<br><b><span style='font-size:14px;'>[[value]]%</span></b>",
            "bullet": "round",
            "bulletSize": 8,
            "lineColor": "#d1655d",
            "lineThickness": 2,
            "negativeLineColor": "#67b7dc",
            "valueField": "value",
            "negativeBase":@ViewData["AveRate"],
            "precision":2,
        }],

        "chartScrollbar": {
            "scrollbarHeight": 5,
            "backgroundAlpha": 0.1,
            //"backgroundColor": "#868686",
            //"selectedBackgroundColor": "#67b7dc",
            "selectedBackgroundAlpha": 1
        },
        "chartCursor": {
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true
        },
        "categoryField": "quarter",
        "categoryAxis": {
            "parseDates": false,
            "axisAlpha": 0,
            "minHorizontalGap": 60,
            "labelFunction": function(valueText, quarter, categoryAxis) {
                return "Q"+valueText;
            }

        },
        "export": {
            "enabled": true
        }
    });
    chart.addListener("dataUpdated", chart.validateData());
</script>


<!-- /top tiles -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">

                    <h3>Overall Complete Rate <small></small></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">

                    <div id="chartdiv" class="demo-placeholder" style="width: 100%; height:270px;"></div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">
                    <h3>Overall Complete Rate <small></small></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">
                    @*<div id="canvas_overall1" class="demo-placeholder" style="width: 100%; height:270px;"></div>*@

                    @await Html.PartialAsync("Search")
                  
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<br />
