@model IEnumerable<IDSurvey.Models.CompleteRate>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>





<script>

    var chartData = generatechartData();
    function generatechartData() {
        var chartData = [];
        @foreach (var item in Model) {
            var newDate = item.SERVICE_AREA;
            var rates =item.COMPLETE * 100.0 / item.TOTAL;
            <text>
                chartData.push({quarter: "@newDate",value: @rates});
            </text>

        }
        return chartData;
    }

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "marginTop":10,
        "marginRight": 80,
        "dataProvider": chartData,

        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left",
            "unit": "%",
            "guides": [{
                "dashLength": 6,
                "inside": true,
                "label": "Average",
                "lineAlpha": 1,
                "value": @ViewData["AveRate"],
                "lineColor":"#263138",
                "width": 2
            }],
        }],

        "startDuration": 1,
        "graphs": [{
            "balloonColor":"#d1655d",
            "id":"g1",
            "balloonText": "Q[[category]]<br><b><span style='font-size:14px;'>[[value]]%</span></b>",
            "bullet": "round",
            "bulletSize": 8,
            "lineColor": "#d1655d",
            "lineThickness": 2,
            "negativeLineColor": "#67b7dc",
            "valueField": "value",
            "negativeBase":@ViewData["AveRate"],
            "precision":2,
        }],

        "chartScrollbar": {
            "scrollbarHeight": 5,
            "backgroundAlpha": 0.1,
            //"backgroundColor": "#868686",
            //"selectedBackgroundColor": "#67b7dc",
            "selectedBackgroundAlpha": 1
        },
        "chartCursor": {
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true
        },
        "categoryField": "quarter",
        "categoryAxis": {
            "parseDates": false,
            "axisAlpha": 0,
            "minHorizontalGap": 60,
            "labelFunction": function(valueText, quarter, categoryAxis) {
                return "Area "+valueText;
            }

        },
        "export": {
            "enabled": true
        }
    });
    chart.addListener("dataUpdated", chart.validateData());
</script>



<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total</span>
        <div class="count">@ViewData["OverallTotal"]</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Complete</span>
        <div class="count">
            @ViewData["OverallComplete"]
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Rate</span>
        <div class="count  green">
            @String.Format(
            System.Globalization.CultureInfo.CurrentCulture,
            "{0:0.00}", ViewData["AveRate"]
            )%
        </div>
    </div>

    <form asp-controller="Home" asp-action="Search">
        <select asp-items="ViewBag.quartersList" name="SearchString" id="quarterlist">
            <option value="">--- Please select ---</option>
        </select>
        <input type="submit" value="Filter" />
    </form>

</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">
                    <h3>Complete Rate by Quarter <small></small></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">

                    <table width="100%" class="table table-striped table-bordered" id="example" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.COMPLETE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QTR)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SERVICE_AREA)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TOTAL)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TYPE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WAVE)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.COMPLETE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QTR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SERVICE_AREA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TOTAL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TYPE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WAVE)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">
                    <h3>Complete Rate by Quarter <small></small></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">

                    <div id="chartdiv" class="demo-placeholder" style="width: 100%; height:270px;">
                </div>


                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>





