@model IEnumerable<IDSurvey.Models.CompleteRate>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COMPLETE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QTR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICE_AREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COMPLETE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QTR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICE_AREA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TYPE)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COMPLETE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QTR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SERVICE_AREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOTAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
       
        </tr>
}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COMPLETE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QTR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERVICE_AREA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TYPE)
                </td>

            </tr>
        }
    </tbody>
</table>
